*{
    margin: 6px;
    padding: 8px;
}
.main{
    min-width:850px;


}
header h1{
    font-size: 30pt;
    color: white;
    text-align: left;
    padding: 10px;
	margin-bottom: 10px;
    

}
header{
    background-color: #6C7479;
    width: 45em;
    height: 6em;
}
.headerPod{
    background-color: #6C7479;
    width: 45em;
    height: 1em;
}

.srodekLewo{
    float: left;
    background-color: #6C7479;
    width: 9em;
    height: 35em;
    clear: both;
}
.srodekPrawo{
    float: left;
    background-color: #6C7479;
    width: 34.25em;
    height: 35em;
}
.podLewo{
    float: left;
    background-color: #6C7479;
    width: 25em;
    height: 7em;
    clear: both;
}
.podPrawo{
    float: left;
    background-color: #6C7479;
    width: 18.27em;
    height: 7em;
}
@media only screen and (max-width:850px) {
    .main{
        display: block;
        justify-content: center;
        text-align: center;
    }
    header{
        width: 25em;
    }
    .headerPod{
        width: 25.03em;
    }
    .srodekPrawo{
        width: 14.24em;
    }
    .podLewo{
        width: 10em;
        height: 5em;
    }
    .podPrawo{
        width: 13.25em;
        height: 5em;
    }
}

